<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>PANIMALAY</title>
	<link rel="stylesheet" href="styles.css">
	<script src="https://kit.fontawesome.com/b99e675b6e.js"></script>
</head>
<body>

<div class="wrapper">
    <div class="sidebar">
        <h2>PANIMALAY</h2>
        <ul>
            <li><a href="index.html"><i class="fas fa-home"></i>Home</a></li>
            <li><a href="profile.html"><i class="fas fa-user"></i>Profile</a></li>
            <li><a href="units.html"><i class="fas fa-tasks"></i>Manage Units</a></li>
            <li><a href="payment.html"><i class="fas fa-balance-scale"></i>Payments Records</a></li>
            <li><a href="renters.html"><i class="fas fa-address-card"></i>Renters</a></li>
            <li><a href="feedback.html"><i class="fas fa-project-diagram"></i>Feedbacks</a></li>
        </ul> 
    </div>
</div>

</body>
</html>