<!DOCTYPE html>
<html><li>
<head>
	<title>Panimalay</title></head>
	<link rel="shortcut icon" type="text/css" href="{{url_for('static',filename='images/house.png')}}">
    <script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <script src='https://api.mapbox.com/mapbox.js/v3.3.1/mapbox.js'></script>
    <link href='https://api.mapbox.com/mapbox.js/v3.3.1/mapbox.css' rel='stylesheet' />
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css" integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/css/bootstrap-select.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/font_style.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/selected_style.css') }}">

</head>
<body>
<div class="container">
    <div class="row">
      <div class="col">
        <div class="container mt-3" style="max-width:70%;">
		{% if selected_data['images']|length!=0 %}
		<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
		  <ol class="carousel-indicators">
		  	 {% for i in selected_data['images'] %}
		    <li data-target="#carouselExampleIndicators" data-slide-to="{{loop.index - 1}}"{% if loop.index==1 %}class="active"{% endif %}></li>
		     {% endfor %}
		  </ol>
		  <div class="carousel-inner">
		  	{% for i in selected_data['images'] %}
		     <div class="carousel-item{% if loop.index==1 %} active{% endif %}">
		      <img class="d-block w-100" src="data:;base64,{{i.3}}" style="max-height:100%;border-radius:20px;" alt="{{i.2}}">
		    </div>
		     {% endfor %}
		  </div>
		  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
		    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
		    <span class="sr-only">Previous</span>
		  </a>
		  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
		    <span class="carousel-control-next-icon" aria-hidden="true"></span>
		    <span class="sr-only">Next</span>
		  </a>
		</div>
		</div>
       </div>
    </div>
		{% else %}
		<div class="container mt-3" style="max-width:70%;">
		 <img class="d-block w-100" src="{{url_for('static',filename='images/noimageavailable.jpg')}}" style="max-height:100%px;border-radius:20px;">
		</div>
		</div>
       </div>
    </div>
		{% endif %}
	<hr>
    <div class="row">
      <div class="container">
        <div class="row">
          <div class="col-md col-sm-12">
            <div class="mt-2">
            	<h4>{{ selected_data['rbName'] }} <span style="color:yellow;">★</span>{{selected_data["starRatingAverage"]}}</h4>
	        	
            </div>
            <div class="mt-4">
             <p><strong>Location:</strong> {{selected_data['locations']['street']}}, {{selected_data['locations']['barangay']}}, {{selected_data['locations']['cityOrMunicipality']}}, {{selected_data['locations']['province']}}</p>
             <p><strong>Email: </strong>{{selected_data['rental'].4}}</p>
             <p><strong>Contact No. </strong>{{selected_data['phonenumber']}}</p>
              <div class="d-flex">
                <div class="mr-auto">
                  <span><p>Room for {{selected_data['capacity']}} . {{selected_data['unitType']}} . 
                  {% if selected_data['genderAccommodation'] == "Male" %}
                  <i class="fas fa-mars"></i></p></span>
                  {%  elif selected_data['genderAccommodation'] == "Female" %}
                  <i class="fas fa-venus"></i></p></span>
                  {% else %}
                   <i class="fas fa-venus-mars"></i></p></span>
                  {% endif %}

                  
                </div>
              </div>
            </div>
            <hr/>
            
            <div class="mt-4">
              <div class="container">
                <div class="row">
                  <span><h6>Protocols</h6></span>
                </div>
                    {% for i in selected_data['protocols'] %}
                    <p>{{loop.index}}. {{ i }}</p>
                    {% endfor %}
              </div>
            </div>
            <hr/>
            <div id="facilities" class="col mt-5">
              <span><h6>Amenities</h6></span>
              <div class="container" align="center">
                <div class="row">
                {% for facility in selected_data["facilities"] %}
                {% if "bed" in facility%}
                <div id="bed" class="column" align="center" style="width:10%;cursor:pointer;" data-toggle="popover" data-trigger="hover" data-placement="bottom"  data-content="Bed">
                <div class="card">
                  <div class="card-body">
                    <h6><i class="fas fa-bed"></i></h6>
                  </div>
                </div>
                </div>
                {% elif "comfort room" in facility %}
                <div id="comfortroom" class="column" align="center" style="width:10%;cursor:pointer;" data-toggle="popover" data-trigger="hover" data-placement="bottom"  data-content="Comfort Room">
                <div class="card">
                  <div class="card-body">
                    <i class="fas fa-toilet"></i>
                  </div>
                </div>
                </div>
                {% elif "air cooling system" in facility %}
                <div id="aircoolingsystem" class="column" align="center" style="width:10%;cursor:pointer;" data-toggle="popover" data-trigger="hover" data-placement="bottom"  data-content="Air Cooling System">
                <div class="card">
                  <div class="card-body">
                    <i class="fas fa-fan"></i>
                  </div>
                </div>
                </div>
                {% elif "study area" in facility %}
                <div id="studyarea" class="column" align="center" style="width:10%;cursor:pointer;" data-toggle="popover" data-trigger="hover" data-placement="bottom"  data-content="Study Area">
                <div class="card">
                  <div class="card-body">
                    <i class="fas fa-book-reader"></i>
                  </div>
                </div>
                </div>
                {% elif "wifi zone" in facility %}
                <div id="wifizone" class="column" align="center" style="width:10%;cursor:pointer;" data-toggle="popover" data-trigger="hover" data-placement="bottom"  data-content="Wifi Zone"> 
                <div class="card">
                  <div class="card-body">
                    <i class="fas fa-wifi"></i>
                  </div>
                </div>
                </div>
                {% elif "shower" in facility %}
                 <div id="shower" class="column" align="center" style="width:10%;cursor:pointer;" data-toggle="popover" data-trigger="hover" data-placement="bottom"  data-content="Bath">
                <div class="card">
                  <div class="card-body">
                    <i class="fas fa-shower"></i>
                  </div>
                </div>
                </div>
                {% endif %}
                {% endfor%}

            
              </div>        
              </div>
            </div>
            <hr/> 



            <div class="col">
              <div>
                <span><h5><i class="ml-3 far fa-star"></i>FEEDBACKS</h5></span>
                
              </div>
              {% if selected_data["currentUserFeedbackChecker"] == 1 and selected_data["feedbacks"]|length!=0 and username!="unknown" %}
               {% for feedback in selected_data["feedbacks"] %}
                {% if feedback.1 == unitID and feedback.0 == username %}
                <div class="card" style="padding: 5%;margin: 5%">
                  {% for profile in selected_data["profiles"] %}
                  {% if profile.0 == feedback.0 %}
                  <span><i class="fas fa-edit" style="margin-left:85%;margin-right: 30px;" data-toggle="modal" data-target="#updateModal"></i><i class="fas fa-trash" data-toggle="modal" data-target="#deleteFeedbackModal"></i></span>
                  
                    {% if checkProfilePicture(profile.1)==true%}
                    {% for p in profilePictures %}
                    {% if p.0 == profile.1 %}
                     <h5><img src="data:;base64,{{p.3}}" style="max-height:5%;max-width:5%;border-radius:50px;border:1px solid black;" alt="{{p.2}}">  {{profile.2}} {{profile.3}}</h5>
                    {% endif %}
                    {% endfor %}
                    {% else %}
                     <h5><img src="{{url_for('static',filename='images/signinperson.png')}}" style="max-height:5%;max-width:5%;border-radius:50px;">  {{profile.2}} {{profile.3}}</h5>
                    {% endif %}
                 
                 
                  {% endif %}
                  {% endfor %}
                  <ul>
                    {% for i in range(1,6) %}
                    {% if i<=feedback.4 %}
                    <li>
                        <h1 style="color:yellow">★</h1>
                    </li>
                    {% else %}
                    <li>
                        <h1 style="color:black;">★</h1>
                    </li>
                    {% endif %}
                    {% endfor %}
                    <p>{{feedback.3}}</p>
                    <small>Date: {{feedback.5}}</small>
      
                  </ul>
                </div>   
                <div class="modal fade" id="updateModal">
                  <div class="modal-dialog" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Update Feedback</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="modal-body">
                        {% for feedback in selected_data["feedbacks"] %}
                            {% if feedback.1 == unitID and feedback.0 == username %}
                      <form action="http://127.0.0.1:5000/update/feedback/{{unitID}}/{{RBID}}/{{feedback.2}}" method="POST">
                         <ul>
                            {% for i in range(1,6) %}
                            {% if i<=feedback.4%}
                            <li>
                              <span id="star{{i}}"><h1 id="star{{i}}Header" style="color:yellow">★</h1></span>
                            </li>
                            {% else %}
                            <li>
                              <span id="star{{i}}"><h1 id="star{{i}}Header" style="color:black">★</h1></span>
                            </li>
                            {% endif %}
                            {% endfor %}  
                        </ul>
                             
                            <div class="col-12 mt-3">
                            <textarea class="form-control" id="comment" name="comment" required="1" maxlength="255">{{feedback.3}}</textarea>
                            <input type="date" name="feedbackDate" id="feedbackDate" hidden="1">
                            <input type="number" name="starRating" value="{{feedback.4}}" id="starRating" hidden="1">
                            </div>
                             {% endif %}
                            {% endfor %}
                     
                      <div class="modal-footer">
                          <a href="http://127.0.0.1:5000/add/feedback/{{unitID}}/{{RBID}}/{{feedback.2}}"><button type="button" class="btn btn-secondary" data-dismiss="modal" style="border-radius: 50px">Close</button></a>
                        <button type="submit" class="btn btn-success" style="border-radius: 50px">Save Changes</button>
                      </div>

                     
                       </form>
                       </div>
                    </div>
                  </div>
                </div> 
                <div id="deleteFeedbackModal" class="modal fade" tabindex="-1" role="dialog">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title">Are you sure you want to delete your feedback?</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-footer">
                      <a href="http://127.0.0.1:5000/delete/feedback/{{unitID}}/{{RBID}}/{{feedback.2}}"><button type="button" class="btn btn-primary">Yes</button></a>
                      <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
                    </div>
                  </div>
                </div>
              </div>
              
                {% for feedback in selected_data["feedbacks"] %}
                {% if feedback.1 == unitID and feedback.0 != username %}
                <div class="card" style="padding: 5%;margin: 5%">
                  {% for profile in selected_data["profiles"] %}
                  {% if profile.0 == feedback.0 %}
                  
                    {% if checkProfilePicture(profile.1)==true%}
                    {% for p in profilePictures %}
                    {% if p.0 == profile.1 %}
                     <h5><img src="data:;base64,{{p.3}}" style="max-height:5%;max-width:5%;border-radius:50px;border:1px solid black;" alt="{{p.2}}">  {{profile.2}} {{profile.3}}</h5>
                    {% endif %}
                    {% endfor %}
                    {% else %}
                     <h5><img src="{{url_for('static',filename='images/signinperson.png')}}" style="max-height:5%;max-width:5%;border-radius:50px;">  {{profile.2}} {{profile.3}}</h5>
                    {% endif %}

                  {% endif %}
                  {% endfor %}
                  <ul>
                    {% for i in range(1,6) %}
                    {% if i<=feedback.4 %}
                    <li>
                        <h1 style="color:yellow">★</h1>
                    </li>
                    {% else %}
                    <li>
                        <h1 style="color:black;">★</h1>
                    </li>
                    {% endif %}
                    {% endfor %}
                    <p>{{feedback.3}}</p>
                    <small>Date: {{feedback.5}}</small>
      
                  </ul>
                </div>                                       
                {% endif %}
                {% endfor%}
              {% endif %}
              {% endfor%}
              {% elif selected_data["currentUserFeedbackChecker"]==0 and selected_data["feedbacks"]|length!=0  and username!="unknown" %}
               <div id="addFeedbackFormContainer">
              <button id="addFeedbackButton" class="btn btn-light" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">Add feedback</button>
              <div class="collapse" id="collapseExample">
                
              <div class="card card-body">
              <form id="feedbackForm" action="http://127.0.0.1:5000/add/feedback/{{unitID}}/{{RBID}}" method="POST">
              <ul>
                  <li>
                      <span id="star1"><h1 id="star1Header">★</h1></span>
                  </li>
                  <li>
                      <span id="star2"><h1 id="star2Header">★</h1></span>
                  </li>
                   <li>
                      <span id="star3"><h1 id="star3Header">★</h1></span>
                  </li>
                  <li>
                      <span id="star4"><h1 id="star4Header">★</h1></span>
                  </li>
                  <li>
                      <span id="star5"><h1 id="star5Header">★</h1></span>
                  </li>
                  <div class="col-12 mt-3">
                  <textarea class="form-control" id="comment" name="comment" required="1" maxlength="255"></textarea>
                  <input type="date" name="feedbackDate" id="feedbackDate" hidden="1">
                  <input type="number" name="starRating" id="starRating" hidden="1">
                  </div>

              </ul>
              <div align="center">
              <button id="submitButton" type="submit">Post</button>
              </div>
              </form>
              <div align="center">
                  <button id="clearButton" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">Cancel</button>
              </div>
              </div>
            </div>
            </div>
              {% for feedback in selected_data["feedbacks"] %}
                {% if feedback.1 == unitID and feedback.0 != username %}
                <div class="card" style="padding: 5%;margin: 5%">
                  {% for profile in selected_data["profiles"] %}
                  {% if profile.0 == feedback.0 %}
                   
                    {% if checkProfilePicture(profile.1)==true%}
                    {% for p in profilePictures %}
                    {% if p.0 == profile.1 %}
                     <h5><img src="data:;base64,{{p.3}}" style="max-height:5%;max-width:5%;border-radius:50px;border:1px solid black;" alt="{{p.2}}">  {{profile.2}} {{profile.3}}</h5>
                    {% endif %}
                    {% endfor %}
                    {% else %}
                     <h5><img src="{{url_for('static',filename='images/signinperson.png')}}" style="max-height:5%;max-width:5%;border-radius:50px;">  {{profile.2}} {{profile.3}}</h5>
                    {% endif %}
                  {% endif %}
                  {% endfor %}
                  <ul>
                    {% for i in range(1,6) %}
                    {% if i<=feedback.4 %}
                    <li>
                        <h1 style="color:yellow">★</h1>
                    </li>
                    {% else %}
                    <li>
                        <h1 style="color:black;">★</h1>
                    </li>
                    {% endif %}
                    {% endfor %}
                    <p>{{feedback.3}}</p>
                    <small>Date: {{feedback.5}}</small>
      
                  </ul>
                </div>                                       
                {% endif %}
                {% endfor%}
              {% elif selected_data["currentUserFeedbackChecker"]==0 and selected_data["feedbacks"]|length==0  and username!="unknown" %}

               <h6>No available feedback for this unit.</h6>
               
              <div id="addFeedbackFormContainer">
              <button id="addFeedbackButton" class="btn btn-light" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">Add feedback</button>
              <div class="collapse" id="collapseExample">
                
              <div class="card card-body">
              <form id="feedbackForm" action="http://127.0.0.1:5000/add/feedback/{{unitID}}/{{RBID}}" method="POST">
              <ul>
                  <li>
                      <span id="star1"><h1 id="star1Header">★</h1></span>
                  </li>
                  <li>
                      <span id="star2"><h1 id="star2Header">★</h1></span>
                  </li>
                   <li>
                      <span id="star3"><h1 id="star3Header">★</h1></span>
                  </li>
                  <li>
                      <span id="star4"><h1 id="star4Header">★</h1></span>
                  </li>
                  <li>
                      <span id="star5"><h1 id="star5Header">★</h1></span>
                  </li>
                  <div class="col-12 mt-3">
                  <textarea class="form-control" id="comment" name="comment" required="1" maxlength="255"></textarea>
                  <input type="date" name="feedbackDate" id="feedbackDate" hidden="1">
                  <input type="number" name="starRating" id="starRating" hidden="1">
                  </div>

              </ul>
              <div align="center">
              <button id="submitButton" type="submit">Post</button>
              </div>
              </form>
              <div align="center">
                  <button id="clearButton" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">Cancel</button>
              </div>
              </div>
            </div>
            </div>
              {% elif selected_data["currentUserFeedbackChecker"]==0 and selected_data["feedbacks"]|length==0  and username=="unknown" %}
               <h6>No available feedback for this unit.</h6>
               

              {% elif selected_data["currentUserFeedbackChecker"]==0 and selected_data["feedbacks"]|length!=0 and username=="unknown" %}
              {% for feedback in selected_data["feedbacks"] %}
                {% if feedback.1 == unitID %}
                <div class="card" style="padding: 5%;margin: 5%">
                  {% for profile in selected_data["profiles"] %}
                  {% if profile.0 == feedback.0 %}
                    {% if checkProfilePicture(profile.1)==true%}
                    {% for p in profilePictures %}
                    {% if p.0 == profile.1 %}
                     <h5><img src="data:;base64,{{p.3}}" style="max-height:5%;max-width:5%;border-radius:50px;border:1px solid black;" alt="{{p.2}}">  {{profile.2}} {{profile.3}}</h5>
                    {% endif %}
                    {% endfor %}
                    {% else %}
                     <h5><img src="{{url_for('static',filename='images/signinperson.png')}}" style="max-height:5%;max-width:5%;border-radius:50px;">  {{profile.2}} {{profile.3}}</h5>
                    {% endif %}
                  {% endif %}
                  {% endfor %}
                  <ul>
                    {% for i in range(1,6) %}
                    {% if i<=feedback.4 %}
                    <li>
                        <h1 style="color:yellow">★</h1>
                    </li>
                    {% else %}
                    <li>
                        <h1 style="color:black;">★</h1>
                    </li>
                    {% endif %}
                    {% endfor %}
                    <p>{{feedback.3}}</p>
                    <small>Date: {{feedback.5}}</small>
      
                  </ul>
                </div>                                       
                {% endif %}
                {% endfor%}

              {% endif %}
            </div>

           

            <hr/>

            <div class="col">
              <span><h6>Location</h6></span>
              <div id='select_mapid' class="mt-1 mb-5 map"></div>
            </div>
            <hr/>
          </div>
          <div class="col-md-4">
            <div class="sticky-top">
              <div class="container py-5">
                <div class="row">
                  <div class="col">
                    <div class="m-1 pay-content">
                      <div class="m-3">
                        <div class="d-flex mt-3">
                          <div class="mr-auto">
                            <span class="d-inline-flex justify-content-start"><h6>₱{{selected_data['rate']}}</h6><p>/ month</p></span>
                          </div>
                          <div class="float-right">
                            <span><i class="ml-3 far fa-star"></i> {{selected_data['starRatingAverage']}}({{selected_data['feedbacks']|length}} reviews)</span>
                          </div>
                        </div>
                        <div>
                          {% if selected_data['searchResultAvailability']==true %}
                          <span><p>Current status available</p></span>
                          {% else %}
                          <span><p>Current status unavailable</p></span>
                          {% endif %}
                        </div>
                        <div id="buttonAvailability">
                          <button class="btn btn-light btn-block btn-availability" data-target="#checkAvailable" data-toggle="modal">Check availability</button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>
<div class="modal fade" id="checkAvailable" tabindex="-1" aria-labelledby="checkAvailableLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h6 class="modal-title" id="checkAvailableLabel">Check availability</h6>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="container">
          <div class="row">
            <div class="col">
              <div class="col">
                <div class="m-1">
                  <div class="m-3">
                    <div class="d-flex mt-3">
                      <div class="mr-auto">
                        <span class="d-inline-flex justify-content-start"><h6>₱{{selected_data['rate']}}</h6><p>/ month</p></span>
                      </div>
                      <div class="float-right">
                        <span><i class="ml-3 far fa-star"></i> {{selected_data['starRatingAverage']}}({{selected_data['feedbacks']|length}} reviews)</span>
                      </div>
                    </div>
                    <form id="reserve" action="{{url_for('addReservation',unitID=unitID)}}" method="POST">
                       <div align="center">
                        <h5 style="color:gray">{{selected_data['rbName']}}</h5>
                        <br>
                        <h6 style="color: gray">Booking Date:{{selected_data['currentDate']}}</h6>
                        <small>Once you click reserve, it will automatically send a reservation to the owner of the unit.</small>
                        </div>
                        
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="mr-auto btn btn-sm btn-secondary" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-sm btn-primary">Reserve</button>
      </div>
    </form>
    </div>
  </div>
</div>

<div style="max-width: 100vh; min-height: 500px; max-height: 1000px;"></div>


<script type="text/javascript">
var lat = "{{ selected_data['locations']['latitude'] | safe }}";
var lng = "{{ selected_data['locations']['longitude'] | safe }}";
var coordinates = [lat,lng];
</script>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>

<script type="text/javascript">
  $(document).ready(function(){
      $('[data-toggle="popover"]').popover();   
  });
  
</script>
<script>
    $(document).ready(function(){
        var now = new Date();
        var day = ("0" + now.getDate()).slice(-2);
        var month = ("0" + (now.getMonth() + 1)).slice(-2);
        var today = now.getFullYear()+"-"+(month)+"-"+(day);
        $('#feedbackDate').val(today);
        var inputVal = $("#feedbackDate").val();
        const star1 = 1;
        const star2 = 2;
        const star3 = 3;

        const star4 = 4;
        const star5 = 5;
        $("#star1").on("click",function(){
            $("#star1Header").css("color","yellow");
            $("#star2Header").css("color","black");
            $("#star3Header").css("color","black");
            $("#star4Header").css("color","black");
            $("#star5Header").css("color","black");
            $('#starRating').val(star1);
        })
        $("#star2").on("click",function(){
            $("#star1Header").css("color","yellow");
            $("#star2Header").css("color","yellow");
            $("#star3Header").css("color","black");
            $("#star4Header").css("color","black");
            $("#star5Header").css("color","black");
            $('#starRating').val(star2);
        })
        $("#star3").on("click",function(){
            $("#star1Header").css("color","yellow");
            $("#star2Header").css("color","yellow");
            $("#star3Header").css("color","yellow");
            $("#star4Header").css("color","black");
            $("#star5Header").css("color","black");
            $('#starRating').val(star3);
        })
        $("#star4").on("click",function(){
            $("#star1Header").css("color","yellow");
            $("#star2Header").css("color","yellow");
            $("#star3Header").css("color","yellow");
            $("#star4Header").css("color","yellow");
            $("#star5Header").css("color","black");
            $('#starRating').val(star4);
        })
        $("#star5").on("click",function(){
            $("#star1Header").css("color","yellow");
            $("#star2Header").css("color","yellow");
            $("#star3Header").css("color","yellow");
            $("#star4Header").css("color","yellow");
            $("#star5Header").css("color","yellow");
            $('#starRating').val(star5);
        })
    });
</script>
<script>
    $(document).ready(function(){
      $("#feedbackForm").submit(function(e){
          var rating = $("#starRating").val();
          if (rating.length==0){
              e.preventDefault();
              alert("You forgot the star rating!");
          }
      })
      if ($("#userFeedback").length>0){
        $("#addFeedbackFormContainer").hide();
      }
      else{
         $("#addFeedbackFormContainer").show();
      }
    
    
    });
</script>
<script>
var loc = {{selected_data['locationsForCoordinates']|safe}};
L.mapbox.accessToken = 'pk.eyJ1IjoicmFmdW5nIiwiYSI6ImNramdrbjBsdDN3c2Iyem5xMGJ1cTBzemIifQ.550TU0Z5yySD8mteqHIOKQ';


var mapboxTiles2 = L.tileLayer('https://api.mapbox.com/styles/v1/mapbox/streets-v11/tiles/{z}/{x}/{y}?access_token=' + L.mapbox.accessToken, {
       attribution: '© <a href="https://www.mapbox.com/feedback/">Mapbox</a> © <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>',
       tileSize: 512,
       zoomOffset: -1,
       maxZoom: 18,
       tileSize: 512
});

var select_map = L.map('select_mapid')
     .addLayer(mapboxTiles2)
     .setView([loc['latitude'],loc['longitude']], 8);
var marker = L.marker([loc['latitude'],loc['longitude']]).addTo(select_map);
</script>
<script type="text/javascript" src="{{ url_for('static', filename='js/selected.js') }}"></script>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/js/bootstrap-select.min.js"></script>
</body>
</html>