<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>PANIMALAY</title>
    <link rel="stylesheet" href="styles.css">
    <script src="https://kit.fontawesome.com/b99e675b6e.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
</head>
<body>

<div class="wrapper">
    <div class="sidebar">
        <h2>PANIMALAY</h2>
        <ul>
            <li><a href="index.html"><i class="fas fa-home"></i>Home</a></li>
            <li><a href="profile.html"><i class="fas fa-user"></i>Profile</a></li>
            <li><a href="units.html"><i class="fas fa-tasks"></i>Manage Units</a></li>
            <li><a href="payment.html"><i class="fas fa-balance-scale"></i>Payments Records</a></li>
            <li><a href="renters.html"><i class="fas fa-address-card"></i>Renters</a></li>
            <li><a href="feedback.html"><i class="fas fa-project-diagram"></i>Feedbacks</a></li>
        </ul> 
    </div>
    <div class="main_content">
      <form class="main">
         <div class="sidebar">
        <ul>
          <div class="card">
          <img class="img"src="img/default.jpg" width="200" height="200" alt="John">
          <br>
          <center>
            <p><button>Edit Profile</button></p>
          </center>
          
        </div> 
        </ul> 
        </div>
        <div class="main_content">
          <form class="main">
            <div class="container pt-4">
      <div id="formContainer" class=" p-5 my-3 rounded border shadow-lg mb-5 bg-default" style="width: 700px; height: 700px;">
         <form action="{{url_for('insertAccountAndProfile')}}" method="POST">
           <div class="form-row">
             <div class="col-6 mt-3">
               <label for="firstName">First Name</label>
               <input type="text" id="firstName" name="firstName" class="form-control" placeholder="Enter First name" required="1">
             </div>
             <div class="col-6 mt-3">
               <label for="lastName">Last Name</label>
               <input type="text" id="lastName" name="lastName" class="form-control" placeholder="Enter Last name" required="1">
             </div>
             <div class="col-6 mt-3">
                <label for="gender">Gender</label>
                <select class="custom-select mr-sm-2" id="gender" name="gender">
                  <option disabled selected>Select gender</option>
                  <option value="Male">Male</option>
                  <option value="Female">Female</option>
                </select>
              </div>
             <div class="col-6 mt-3">
                <label for="accountType">Account Type</label>
                <select class="custom-select mr-sm-2" id="accountType" name="accountType">
                  <option disabled selected>Select account type</option>
                  <option value="Renter">Renter</option>
                  <option value="Owner">Owner</option>
                </select>
             </div>
              <div class="col-6 mt-3">
               <label for="username">User Name</label>
               <input type="text" id="username" name="username" class="form-control" placeholder="Username" required="1">
             </div>
            <div class="col-6 mt-3">
                <label for="birthdate">Birthdate</label>
                <input type="date" id="birthDate" name="birthDate" class="form-control" placeholder="Enter Birthday" required="1">
            </div>
            <div class="col-12 mt-3">
               <label for="email">Email</label>
               <input type="email" id="email" name="email" class="form-control" placeholder=" Enter Email Address" required="1">
             </div>
             <div class="col-12 mt-3">
               <label for="password">Password</label>
               <input type="password" id="password" name="password" class="form-control" placeholder="Enter Password" required="1">
             </div>
           </div>
           <br>
           <div align="center">
           <button type="submit">Submit</button>
           </div>
         </form>  
      </div>
   </div>
         </form> 
          </form>
        </div>
      </form>
  </div>
</div>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.min.js" integrity="sha384-w1Q4orYjBQndcko6MimVbzY0tgp4pWB4lZ7lr30WKz0vr/aWKhXdBNmNb5D92v7s" crossorigin="anonymous"></script>
</body>
</html>